/**
 * Spark Holiday Snowfall Animation
 * Lightweight CSS-only snowflakes for December seasonal mode
 */

.spark-snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.spark-snowflake {
  position: absolute;
  top: -10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  user-select: none;
  animation: snowfall linear infinite;
}

.spark-snowflake:nth-child(1) {
  left: 10%;
  animation-duration: 8s;
  animation-delay: 0s;
}

.spark-snowflake:nth-child(2) {
  left: 20%;
  animation-duration: 10s;
  animation-delay: 1s;
  font-size: 0.8em;
}

.spark-snowflake:nth-child(3) {
  left: 30%;
  animation-duration: 9s;
  animation-delay: 2s;
}

.spark-snowflake:nth-child(4) {
  left: 40%;
  animation-duration: 11s;
  animation-delay: 0.5s;
  font-size: 0.9em;
}

.spark-snowflake:nth-child(5) {
  left: 50%;
  animation-duration: 12s;
  animation-delay: 1.5s;
}

.spark-snowflake:nth-child(6) {
  left: 60%;
  animation-duration: 10s;
  animation-delay: 2.5s;
  font-size: 0.85em;
}

.spark-snowflake:nth-child(7) {
  left: 70%;
  animation-duration: 9s;
  animation-delay: 3s;
}

.spark-snowflake:nth-child(8) {
  left: 80%;
  animation-duration: 8.5s;
  animation-delay: 1.2s;
  font-size: 0.95em;
}

.spark-snowflake:nth-child(9) {
  left: 90%;
  animation-duration: 11s;
  animation-delay: 0.8s;
}

@keyframes snowfall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.6;
  }
}

/* Reduced motion support */
@media (prefers-reduced-motion: reduce) {
  .spark-snowflake {
    animation: none;
    display: none;
  }
}
