@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.scroller-text {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.scroller-text span {
  padding-right: 3rem;
  font-weight: 600;
  font-size: 1.125rem;
}
